<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div>
        <table class="table table-bordered table-stripe">
            <tbody>
                <tr class="warning">
                    <th>ID</th>
                    <th>Title</th>
                    <th>upVote</th>
                    <th>downVote</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Open Hour</th>
                    <th>Close Hour</th>
                    <th>WebSite</th>
                    <th>Comment</th>
                </tr>
                <tr ng-repeat="m in menus">
                    <td>{{m.id}}</td>
                    <td>{{m.title}}</td>
                    <td>{{m.upVote}}</td>
                    <td>{{m.downVote}}</td>
                    <td>{{m.email}}</td>
                    <td>{{m.phoneNumber}}</td>
                    <td>{{m.address}}</td>
                    <td>{{m.openHour|date: 'shortTime'}}</td>
                    <td>{{m.closeHour|date:'shortTime'}}</td>
                    <td>{{m.website}}</td>

                    <td><a href="#/menu/{{$index}}">Comments</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>